body {
  background-color: dodgerblue;
  margin: 0;
background-image: url('https://phonoteka.org/uploads/posts/2021-06/1622984280_25-phonoteka_org-p-tekstura-neba-mainkraft-krasivo-33.png');
background-repeat: no-repeat;
background-size: cover;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ramka {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  width: 700px;
  height: 740px;
  flex-wrap: wrap;
  overflow: hidden;
}

.card {
  width: 136.8px;
  /* height: 174px; */
  border-radius: 0.3cm;
  position: relative;
  perspective: 1000px;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
}
.cards {
  border-radius: 0.3cm;
  width: 60%;
  height: 50%;
}


.result {
  display: none;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin: auto;
}
